<%= form_with(model: @task, remote: true) do |form| %>


  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :task_description %>
  </div>

  <div class="field">
    <%= form.text_field :deadline, id: "datetimepicker1", placeholder: "when is it due?" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
